<div class="aluno {{ aluno.modelo }} ff-roboto-mono" [ngClass]="larguraAluno()">
  <img src="/assets/imagens/{{ aluno.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ aluno.email }}</p>
  <p class="autoria"><b>{{aluno.nome}}</b></p>
  <br>
  <p class="autoria"><b>Matrícula: {{aluno.id}}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="/assets/imagens/icone-editar.png" routerLink="/pensamentos/editarAluno/{{aluno.id}}" alt="Ícone de editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirAluno/{{aluno.id}}">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>
