.cabecalho {
  background-color: black;
  height: 100px;
}

.cabecalho .logo {
  width: 20%;
  padding: 2rem 3rem;
}

.cabecalho .logo img {
  width: 30%;
  max-width: 350px;
  margin: 0;
  margin-bottom: 2rem;
}

.cabecalho .imagem{
  width: 40%;
  margin: 100px;
}

.cabecalho p {
  font-size: 2rem;
  color: #6BD1FF;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }
  .cabecalho .imagem {
    display: none;
  }
}
